<div class="container-fluid">
<div class="card" style="width: 100%;">

  <div class="card-body">
    <h5 class="card-title"><%= @brand.name.upcase %></h5>
    <p class="card-text">products</p>
  </div>


</div>
</div>



<%= render 'products/product' %>
